<nav>
  <input type="checkbox" id="check" />
  <label for="check" class="checkbtn">
    <i class="pi pi-bars"></i>
  </label>
  <label class="logo">Ventas</label>
  <ul>
    <li><a [routerLink]="['/resume/home']" routerLinkActive="active">Home</a></li>
    <li><a [routerLink]="['producto']" routerLinkActive="active">Producto</a></li>
    <li><a [routerLink]="['empleado']" routerLinkActive="active">Empleado</a></li>
    <li><a [routerLink]="['cliente']" routerLinkActive="active">Cliente</a></li>
    <li><a [routerLink]="['venta']" routerLinkActive="active">Nueva Venta</a></li>
    <p-splitButton [label]="[usuario]" icon="pi pi-user"  [model]="items" styleClass="p-button-info"></p-splitButton>
  </ul>
</nav>
<section>
  <router-outlet></router-outlet>
</section>
